#cart{
    position: absolute;
    right: 50px;
    top: 10px;
    width: 50px;
    height: auto;
    border-radius: 15px;
}

#search_icon{
    width: 30px;
    height: auto;
    border-radius: 15px;
}
#search{
    margin: 0 0 0 300px;
}
#menu_bar{
    width: 100vw;
    height: 75px;
    background-color: #272727;
    overflow: hidden;
}
#logo{
    width: 50px;
    height: auto;
    border-radius: 15px;
    margin: 6px 20px 0 20px;
    
}
.menu_items{
    font-size: 30px;
    font-style:normal;
    background-color: #272727;
    border: 0;
    color: white;
    margin: 0 10px 0 0 ;
}
.menu_items:hover{
    color: red;
}


/*middle part*/
#display{
    width: 100vw;
    height: auto;
}



/*footerrrrrrrrrrrrrrrrrrrr part*/
#footer{
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 150px;
    background-color: #272727;
    overflow: hidden;
}
a{
    margin: 200px 30px 0 0;
}
#Cpr{
    color: floralwhite;
    position: relative;
    bottom: -100px;
    text-align: center;
}
